.container {
    width: 80vw;
    margin-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    grid-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

