.card_container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    align-items: center;
  }
  
.card_container:hover {
  transform: scale(1.05);
}
  
.image {
  width: 210px;
  height: 210px;
  border-radius: 50%;  
}
  
.teams {
  justify-content: center;
  color: black;
}
  
.nombre {
  color: rgb(255, 255, 255);
  background-color: black
}

.fecha {
  justify-content: center;
  color: black;
}
